@use '../../../styles/vars' as v;
.Players-item {
  display: block;
  background: v.$color-white;
  border-radius: 30px;
  padding: 1rem;
  margin: 0.5rem 0;
  color: v.$color-dark;
}
.Players-item:hover {
  background: v.$color-light;
}
